/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-Montserrat

}

body{
    @apply bg-primary font-Montserrat  antialiased
}

/* Tab Component */

:root {
	--radius: 8px;
	--border: 4px;
	--height: 52px;
  --speed: 0.25s;
}

.tabs {
	height: var(--height);
	display: grid;
	grid-auto-flow: column;
	background: #1E1B1E;
	border-radius: var(--radius);
	grid-auto-columns: 1fr;
	position: relative;
	border: var(--border) solid #0F0F0F;
	font-size: small;
	width: 100%;
	gap: 8px;
}

.tabs {
	--ease: linear(
    0, 0.1641 3.52%, 0.311 7.18%,
    0.4413 10.99%, 0.5553 14.96%,
    0.6539 19.12%, 0.738 23.5%,
    0.8086 28.15%, 0.8662 33.12%,
    0.9078 37.92%, 0.9405 43.12%,
    0.965 48.84%, 0.9821 55.28%,
    0.992 61.97%, 0.9976 70.09%, 1
  );
}

.tabs > input,
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) { --active: 0; }
.tabs:has(:checked:nth-of-type(2)) { --active: 1; }
.tabs:has(:checked:nth-of-type(3)) { --active: 2; }
.tabs:has(:checked:nth-of-type(4)) { --active: 3; }

.tabs :checked + label { --highlight: 1; }

.tabs:has(input:nth-of-type(2)) { --count: 2; }
.tabs:has(input:nth-of-type(3)) { --count: 3; }
.tabs:has(input:nth-of-type(4)) { --count: 4; }

.tabs label {
	padding: 0 clamp(0.5rem, 2vw + 0.25rem, 2rem);
	cursor: pointer;
	text-align: center;
	height: 100%;
	display: grid;
	border-radius: calc(var(--radius) - var(--border));
	place-items: center;
	font-weight: 500;
	color: #F0FFFF;
	transition: background, color;
	transition-duration: 0.25s;
	transition-timing-function: var(--ease, ease);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:not(:checked) + label:hover {
	--highlight: 0.35;
	background: hsl(0 0% 20%);
}

.tabs::after {
	pointer-events: none;
	content: "";
	width: calc(100% / var(--count));
	height: 100%;
	background: #F0FFFF;
	position: absolute;
	border-radius: calc(var(--radius) - var(--border));
	mix-blend-mode: difference;
	translate: calc(var(--active, 0) * 100%) 0;
	transition: translate, outline-color;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease, ease);
	outline: 2px solid transparent;
}

.tabs:has(:focus-visible)::after {
	outline-color: red;
}